.body-5{
    width: 100%;
    height: auto;
    background-color: black;
    position: absolute;
}
.body-5>img{
    width: 100%;
    height: auto;
}
.headings{
    position: absolute;
    top: 80px;
    left: 550px;
    text-align: center;
}
.flex{
    max-width: 100%;
}
.box-1{
    position: absolute;
    top: 270px;
    left: 150px;
    height: 200px;
    width: 500px;
    background-color: black;
    border-radius: 50px;
}
.box-2{
    position: absolute;
    top: 270px;
    right: 150px;
    height: 200px;
    width: 500px;
    background-color: black;
    border-radius: 50px;
}
.box-1>p , .box-2>p{
    color: white;
    padding: 40px;
    font-size: 15px;
}
.photo-text{
    display: flex;
    gap: 1rem;
}
.text-img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.photo-img>img{
    border-radius: 50px;
    width: 50%;
    position: relative;
    bottom: 25px;
    margin-left: 2rem;
}
.photo-text-1{
    display: flex;
    gap: 1rem;
}
.text-img-1{
    text-align: center;
    position: relative;
    bottom: 30px;
    line-height: 36px;
    font-size: 20px;
}
.text-img{
    text-align: center;
    position: relative;
    bottom: 30px;
    line-height: 30px;
    font-size: 20px;
}

