.body-4{
    height: 83.4vh;
    width: 99vw;
    background-color: #fff;
}
.body-4-heading{
    padding-top: 60px;
    text-align: center;
}
.body-4-text-box{
    position: absolute;
    left: 180px;
    max-width: 35%;
    color: black;
    margin-top: 5rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h2{
    font-size: 25px;
}
.layers{
    display: flex;
    gap: 4rem;
}
.layers>img{
    border-radius: 35px;
}
.body-4-image{
    position: absolute;
    right: 0;
}